<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>TrimLink</display-name>
	<!-- <filter>
		<description>
		</description>
		<display-name>AuthFilter</display-name>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.trimlink.controllers.AuthFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/AuthFilter</url-pattern>
	</filter-mapping> -->
	
	<!-- <context-param>
		<param-name>DB_URL</param-name>
		<param-value>jdbc:mysql://localhost:3307/trimlink</param-value>
	</context-param>
	
	<context-param>
		<param-name>DB_USER</param-name>
		<param-value>root</param-value>
	</context-param>
	
	<context-param>
		<param-name>DB_PASSWORD</param-name>
		<param-value></param-value>
	</context-param>
	 -->
</web-app>
